<<<<<<< HEAD
* {
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
}
.title{
    background-color: white;
}

h1 {
    text-transform: none;
}
=======
>>>>>>> b427b016a44050d1d2ed070f499c7c43a37f1acf
