* {
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
}

html{
    background-color: rbg(212, 195, 228);
}

.title{
    background-color: rgb(212, 195, 228);
    margin-left: 0px;
    align-content: center;
}

h1 {
    text-transform: none;
    font-style: bold;
}

img{
    float:left;
    width: 7%;
    height:auto;
    margin-left: 7px;
}

header{
    width:100%;
}