* {
    font-family: 'Lato', sans-serif;
    font-weight: lighter;  
}

.signin:hover {
    background-color: rgb(212, 195, 228);
    border-color: black;
    border: 1px solid;
    color: black;
}

.navbar {
    margin-bottom: 35px;
}

.signin{
    float: right;
}

html {
    background-color: rgb(212, 195, 228);
} 

.title{
    background-color: rgb(212, 195, 228);
    margin-left: 0px;
    align-content: center;
}

h1 {
    text-transform: none;
    font-style: bold;
}

.logo{
    float:left;
    width: 7%;
    height:auto;
    margin-left: 7px;
}

.signupBanner{
    width: 50%;
    height: auto;
}

.signupForm input{
    border-radius: 50px;
    border: white 4px solid;
    padding: 5px;
    margin-top: 5px;
    margin-right: 5px;
}

header{
    width:100%;
}

.row{
    align-content: center;
    margin-top: 5%;
}

.column{
    float: left;
    width: 33.33%;
}