.movie {
    border-style: solid;
    border-color: rgb(56, 18, 56);
    border-width: 2px;
    border-radius: 10px;
    margin: 20px;
    background-color: white;
}

.col {
    float: left;
    padding: 15px;
}

.left {
    width: 30%;
}

.right {
    width: 70%;
}

.row {
    display: flex;
}

h1 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0;
}

h1,
h6,
.info {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
}

h6 {
    margin: 0;
    padding: 0;
}

.info {
    cursor: pointer;
    color: rgb(56, 18, 56);
    text-decoration: underline;
}

.showtimes li {
    border-style: solid;
    border-color: rgb(56, 18, 56);
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    display: inline;
    font-size: 130%;
    text-align: center;
    cursor: pointer;
    margin: 10px;
}

.showtimes li:first-of-type{
    margin-left: -55%;
}

.showtimes li a:link,
.shotimes li a:visited {
    color: rgb(205, 178, 231);
}

.showtimes li a:hover,
.showtimes li a:active {
    color: rgb(205, 178, 231);
}

img {
    width: 50%;
    height: auto;
}

.purchase{
    background-color: rgb(205, 178, 231);
    border-color: rgb(205, 178, 231);
    color: white;
    margin-right: 10px;
}

.purchase:hover{
    color: black;
}
