.movie {
    border-style: solid;
    border-width: 2px;
    padding: 15px;
    margin: 10px;
    background-color: white;
}

.col {
    float: center;
    width: 33.33%;
}
  
.row {
    display: flex;
}

h1 {
    text-align: center;
    margin-top: 2px;
}

h1,
h6 {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
}

h6 {
    text-align: left;
    padding-bottom: 5px;
}

.showtimes li {
    text-decoration: none;
    display: inline-block;
    margin: 10px;
}

.showtimes li a:link,
.shotimes li a:visited {
    color: purple;
}

.showtimes li a:hover,
.showtimes li a:active {
    color: purple;
}

img {
    width: 100px;
}
