.movie {
    border-style: solid;
    border-color: rgb(39, 8, 39);
    border-width: 2px;
    margin: 10px;
}

.col {
    float: left;
    padding: 15px;
}

.left {
    width: 30%;
}

.right {
    width: 60%;
}

.row {
    display: flex;
}

h1 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0;
}

h1,
h6,
.info {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
}

h6 {
    margin: 0;
    padding: 0;
}

.info {
    cursor: pointer;
}

.showtimes li {
    text-decoration: none;
    display: inline-block;
    margin: 10px;
    font-size: 130%;
    text-align: center;
    cursor: pointer;
}

.showtimes li a:link,
.shotimes li a:visited {
    color: purple;
}

.showtimes li a:hover,
.showtimes li a:active {
    color: purple;
}

img {
    width: 50%;
    height: auto;
}
