.btn-group button {
    background-color: rgb(212, 195, 228); 
    border: 4px solid rgb(212, 195, 228); 
    color: white;
    cursor: pointer;
    padding: 10px 24px;
    float: center;
    font-size: 24px;
    width: relative;   
    height: auto; 
    outline: none;
}

.btn-group button:link,
.btn-group button:hover{
    border: 4px solid rgb(212, 195, 228); 
    color: rgb(56, 18, 56);
}

.btn-group button:active{
    position: relative;
    top:2px;
    border: 4px solid rgb(212, 195, 228); 
}

.btn-group {
    align-content: center;
    border: 4px solid rbg(205, 178, 231);
    display: fixed;
}
